

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    background-color:rgb(183, 212, 179);
}

.oneComment{

    background-color: white;
    border: black solid 1px;
    display: inline-block;
    color: black;
    padding: 7px;
    margin: 3px;

}   

